:root {
  --red: #C70025;
  --black: #121420;
  --white: #F2F4F3;
  --white-border:3px solid var(--white);

  --smallFont: 20px;
  --mediumFont: 12px;

}


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Pangolin', cursive;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  user-select: none;  
  
}

*{
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: 'Pangolin', cursive;
}
ul{
  padding: 0;
}
p, li{
  font-size: var(--smallFont);
}

.bordered{
  border : var(--white-border);
}
.TR{
  height: 864px;
  width: 1536px;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  align-items: center;
  position: absolute;
  z-index: 3;
 
  
}
.TR h3{
  font-family: 'Pangolin', cursive;
  font-size: 48px;
}
.PG{
  height: 864px;
  width: 1536px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.PG h3{
  font-family: 'Pangolin', cursive;
  font-size: 48px;
  margin-top: -30px;
  padding: 30px;

  
}
.PG_progress{
  height: 20px;
  width: 1000px;
  border-radius: 15px;
}
.PG_progress_bar{
  background-color: var(--white);
  height: 100%;
  width: 75%;
}
.VT{
  height: 864px;
  width: 1536px;
  display: none;
  grid: repeat(16, 1fr) / repeat(24, 1fr);
  grid-gap: 10px;
  background-color: var(--black);
  

  /* ========================= !!! ================== */
  /* display: block; */
  
}

.VT_victory_title{
  grid-area:  5 / 11 / span 2 / span 3;
  font-size: 48px;
}
.VT_victory_message {
  grid-area:  6 / 9 / span 2 / span 7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.VT_new_card:nth-of-type(3){
  grid-area:  8 / 7 / span 5 / span 3;
  

}
.VT_new_card:nth-child(4){
  grid-area:  8 /11 / span 5 / span 3;
  /*  */

}
.VT_new_card:nth-child(5){
  grid-area:  8 / 15 / span 5 / span 3;
  

}
.SC{
  height: 864px;
  width: 1536px;
  display: grid;
  grid: repeat(16, 1fr) / repeat(24, 1fr);
  grid-gap: 10px;
  /* ========================= !!! ================== */
  /* display: none; */
  
 
}

.SC_background_image{
  margin-top: -140px;
  
  
}
.SC_you{
  grid-area: 13 / 3 / span 1 / span 2;
  background-color: var(--black);
  border : var(--white-border);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-15deg);
  z-index: 2;
}

.SC_player_sprite{
  grid-area: 4 / 5 / span 9 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SC_player_sprite img{
 transform: scale(1.2);
 
}

.SC_enemy_sprite{
  grid-area: 4 / 15 / span 9 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SC_player_block{
  grid-area: 7 / 4 / span 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.SC_player_block img{
  transform: scale(0.6);
}

.SC_player_block h3{
  position: absolute;
  font-size: 48px;
  color: var(--black);
  font-family: 'Pangolin', cursive;
}
.SC_enemy_block{
  grid-area: 7 / 20 / span 3 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.SC_enemy_block img{
  transform: scale(0.6);
}

.SC_enemy_block h3{
  position: absolute;
  font-size: 48px;
  color: var(--black);
  font-family: 'Pangolin', cursive;
}
.SC_description_box {
  background-color: var(--black);
  padding: 10px;
  z-index: 3;
  width: 300px;
  height: 100px;
  position: absolute;
  display: none;
}
.SC_player_damage_marker {
  grid-area: 6 / 10 / span 2 / span 2;
  color: var(--white);
  font-size: 48px;
  display: none;

}
.SC_enemy_damage_marker {
  grid-area: 6 / 20 / span 2 / span 2;
  color: var(--red);
  font-size: 48px;
  display: none;

}
.SC_player_status_marker {
  grid-area: 7 / 10 / span 2 / span 2;
  color: var(--white);
  font-size: 36px;
  overflow: visible;
  display: none;

}
.SC_enemy_status_marker {
  grid-area: 7 / 20 / span 2 / span 2;
  color: var(--red);
  font-size: 36px;
  overflow: visible;

  display: none;

}
.SC_player_status{
  grid-area: 11 / 5 / span 1 / span 2;
  width: 125px;
  height: 50px;
  transform: rotate(-15deg);
  overflow: visible;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  animation: Pulsate 4s linear infinite;
  background-color: var(--black);
  border: var(--white-border);
  
}
.SC_player_status span{
  color: grey;
}
.SC_player_status_window{
  grid-area: 8 / 5 / span 4 / span 5;
  background-color: var(--black);
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  font-size: 6px;
  padding: 10px;
  
  
}

.SC_player_status_window p{
  font-size: 12px;
}
.SC_enemy_status_window{
  grid-area: 6 / 18 / span 4 / span 5;
  background-color: var(--black);
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  font-size: 6px;
  padding: 10px;
  
  
}

.SC_enemy_status_window p{
  font-size: 12px;
}

.SC_enemy_status{
  grid-area: 10 / 20 / span 1 / span 3;
  width: 125px;
  height: 50px;
  margin-left: 25px;
  transform: rotate(15deg);
  overflow: visible;
  display: none;
  flex-direction: row;
  align-items: center;
  color: var(--red);
  justify-content: space-around;
  animation: Pulsate 4s linear infinite;
  border: 3px solid var(--red);
  
}

@keyframes Pulsate {
  from { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.SC_player_stats{
  grid-area: 13 / 4 / span 3 / span 4;
  display: grid;
  grid: repeat(3, 1fr) / repeat(1, 1fr);

}

.SC_stat{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--white-border);
  background-color: var(--black);
  
}

.SC_stat:nth-child(3) {
  border-bottom: none;
}

.SC_pile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}
.SC_pile:hover{
  background-color: var(--red);
  cursor: pointer;
}

.SC_player_health{
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.SC_health_bar{
  height: 100%;
  width: 75%;
  transform-origin: left;
  background-color: var(--red);
}
.SC_player_health p{
  position: absolute;
  left: 27%;
}
.SC_player_energy{
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.SC_energy_bar{
  height: 100%;
  width: 75%;
  transform-origin: left;
  background-color: teal;
}
.SC_player_energy p{
  position: absolute;
  left: 27%;

}
.SC_draw_pile{
  grid-area: 13 / 8 / span 1 / span 2;
  
}
.SC_draw_pile_full{
  display: none;
  grid-area: 3 / 8 / span 10 / span 5;
  z-index: 1;
  border: var(--white-border);
  background-color: var(--black);
}
.SC_discard_pile{
  grid-area: 14 / 8 / span 1 / span 2;
 
}
.SC_discard_pile_full{
  display: none;
  grid-area: 4 / 8 / span 10 / span 5;
  z-index: 1;
  border: var(--white-border);
  background-color: var(--black);
}

.SC_view_deck {
  grid-area: 15 / 8 / span 1 / span 2;
}

.SC_view_deck_full {
  display: none;
  grid-area: 5 / 8 / span 10 / span 5;
  z-index: 1;
  border: var(--white-border);
  background-color: var(--black);
}

.SC ul{
padding-left: 15px;
}

.SC_main_box{
  grid-area: 13 / 11 / span 3 / span 12;
  border : 3px dashed var(--white);
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SC_main_overlay {
  position: absolute;
  background-color:var(--black);
  width: 100%;
  height:  100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  

}
.SC_continue {
  position: absolute;
  top: 55%;
  left: 38%;
  animation: Pulsate 4s linear infinite;

}

.SC_turn{
  position: absolute;
  z-index: 2;
  font-size: 48px;
  left: 44%;
  top: 43%;
  display: none;
}
.SC_end_button{
  grid-area: 12 / 21 / span 1 / span 2;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.SC_end_button:hover{
  background-color: var(--red);
  cursor: pointer;
}

.SC_enemy_health{
  grid-area: 2 / 8 / span 1 / span 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.SC_enemy_bar{
  height: 100%;
  width: 75%;
  transform-origin: left;
  background-color: var(--red)
}
.SC_enemy_health p{
  
    position: absolute;
    left: 41%;
  
  
}
.card{
  background-color: #181a2a;
  border: var(--white-border);
  height: 130px;
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.card:hover{
  background-color:var(--red);
  cursor: pointer;
}
.card p{
    position: absolute;
}

.card p:nth-child(1){
  top:0;
  margin: 5px;
}
.card p:last-child{
  bottom: 0;
  margin: 5px;

}
.card img{
  
  transform: scale(0.4);
}
